### general
.cache
hidden/


### js
build/Release
node_modules/
jspm_packages/
typings/
.wrangler/


### Python
__pycache__/
build/
dist/
*.spec
venv/
.venv/


### Visual Studio
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates
*.userprefs
*.exe
mono_crash.*
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/
.vs/
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*


## IntelliJ Idea
libraries


## Java
.mvn/


# Other
*.psd
*.blend
