:root {
  --background: rgb(251, 242, 231);
  --foreground: rgb(44, 44, 44);
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--background);
}

#container {
  margin: 25px;
  display: flex;
  flex-flow: row nowrap;
}
