body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.stacked {
  display: grid;
  place-items: center;
  isolation: isolate;
}

.stacked > * {
  grid-column: 1;
  grid-row: 1;
}

.stacked > .media {
  z-index: -1;
}