<!-- Navigation -->
<nav class="nav-bar">
    <div [class.nav-active]="currentView === 'cv'" class="nav-button" (click)="currentView = 'cv'">CV</div>
    <div [class.nav-active]="currentView === 'portfolio'" class="nav-button" (click)="currentView = 'portfolio'">Portfolio</div>
    <div [class.nav-active]="currentView === 'yadts'" class="nav-button" (click)="currentView = 'yadts'">YADTS</div>
</nav>

<!-- Main Content -->
<main>
    <app-cv *ngIf="currentView === 'cv'"></app-cv>
    <app-portfolio *ngIf="currentView === 'portfolio'"></app-portfolio>
    <app-yadts *ngIf="currentView === 'yadts'"></app-yadts>
</main>

<footer>
    <!-- <i>Copyright &copy; 2020</i> -->
</footer>
