form {
  display: flex;

  &.disabled { /* => form.disabled */
    display: none;
  }

  label { /* => form label */
    font-size: 13px;

    input { /* form label input */
      margin-top: 5px;
    }
  }
}

a[target="_blank"] {
  text-decoration: dotted;
  text-decoration-color: orange;

  &::after {
    padding-left: 2px;
    content: url("/image/external.svg");
  }
}
